@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Oswald:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
  html{
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: #ffffff00;
    color: #fbfdfd;
    width: 1200px;
    height: 5rem;
    font-size: 1.1rem;
    line-height: 75px;
    top: -100px;
    transition: top 1s;
    left: 0;
    z-index: 10;
}
.navbar.slide-in {
  top: 0;
}
.navbar a {
  text-decoration: none;
  color: #ffffff;
}
.navbar a.navbar__logo {
   
    
    float: left;
    height: inherit;
}
.navbar a.navbar__logo span{
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar ul {
    list-style: none;
    height: inherit;
    line-height: inherit;
    float: right;
}
.navbar ul li{
    display: inline-block;
    margin-right: 1rem;
  position: relative;
}
.navbar ul li a {
    font-size: 1rem;
    text-align: center;
    display: block;
    min-width: 7.5rem;
}


.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar ul li a:hover::after {
  transform: scaleX(1);
}

a:focus, a:hover {
  color: #f7f7f7 !important;
  text-decoration: none !important; 
}
.cta__button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: .2rem;
}
.navbar ul li:nth-child(5) a:hover {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    font-size: 1.1rem;
    transition: .3s ease-in;
}
.navbar .navbar__toggler {
    display: none;
}
button.navbar__toggler.toggler-button {
  background: none;
}
/* Section Accueil | Home */
.home__section{
    width: 100%;
    height: 100vh;
    background: url('../images/email-pattern.png') repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}
.home__section h1 {
    font-size: 5rem;
    color: #fdffff;
}
.home__section h1 span {
    color: #0984e3;
}

/* Media Queries | Pour les ecrans de moins de 991px de largeur */
@media screen and (max-width: 991px){
    .navbar a.navbar__logo {
        color: #0984e3;
        padding: 0rem;
        margin-top: 0rem;
    }
    .navbar ul {
        padding: 0 .6rem;
    }
    .navbar ul li a {
        min-width: 6.25rem;
        padding: 0 1.2rem;
    }
    .navbar ul li a:hover{
        background-color: rgba(255,255,255,.2);
        color: #fff;
        font-size: 1.1rem;
    }
}

/* Pour les ecrans des smartphones et tablettes */
@media screen and (max-width: 768px){
    .home__section h1 {
        font-size: 3rem;
        color: #fcfeff;
    }
    .navbar {
        padding: 1rem;
    }
    .navbar ul {
      width: 100%;
      padding: 0rem;
      background-color: #636e72;
      opacity: .9;
      height: 55vh;
      max-height: 0;
      overflow: hidden;
      transition: all ease-in-out 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
  }
    .navbar ul.open{
        max-height: 100vh;
    }
    .navbar ul li {
        width: 80%;
    }
    .navbar ul li:nth-child(5) a:hover {
        background-color: rgba(255,255,255,0.15);
        color: #fff;
        font-size: 1.1rem;

      }
      .navbar a.navbar__logo{
        color: #0984e3;
        margin-top: -1rem;
    }
    .navbar ul li a {
        padding: 0rem;
        color: #fff;
        text-shadow:  0 4px 10px rgba(0,0,0, .7);
        text-transform: capitalize;
    }
    .navbar .navbar__toggler{
        display: block;
        position: absolute;
        height: 2.5rem;
        top: 1.2rem;
        right: 1.2rem;
        background-color: transparent;
        color: #fff;
        padding: 0 .3rem;
        cursor: pointer;
        outline: none;
    }
    .navbar .navbar__toggler span,
    .navbar .navbar__toggler span::before,
    .navbar .navbar__toggler span::after {

        display: block;
        content:'';
        background-color: #f7f8f8;
        height: .2rem;
        width: 1.7rem;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }
    .navbar .navbar__toggler span::before{
        transform: translateY(-8px);
    }
    .navbar .navbar__toggler span::after {
        transform: translateY(5px);
    }
    .navbar .navbar__toggler.open__hamburger span {
        background-color: transparent;
        display: none;
    }
    .navbar .navbar__toggler.open-navbar__toggler span::before {
        transform: translateY(0px) rotate(45deg);
    }
    .navbar .navbar__toggler.open-navbar__toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
    }
    .container.scroller {
      display: none;
  }
}

 #svg {
    height: 700px;
    width: 700px;
    stroke: white;
    background-color: rgba(0, 255, 255, 0);
    fill: white;
    fill-opacity: 0;
    stroke-width: 3px;
    font-family: 'Times New Roman', Times, serif;
    stroke-dasharray: 4500;
    animation: draw 8s ease,fill 2.5s ease 2.5s forwards;
  }
  
  @keyframes draw {
    0% {
      stroke-dashoffset: 4500;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes fill {
    0% {
      fill-opacity: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }
  
  
  
  .pre-loader {
    position: fixed;
    z-index: 100; /** make sure this is the highest value compared to all other divs **/
    top: 0;
    left: 0;
    background: #191f26;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
  }
  
  .pre-loader.hidden {
    animation: fadeOut 2s; /** change to 1s */
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  ::selection {
    background-color: #9434f3;
    color: white;
  }
  

  section.logo-section {
   
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.sticky {
  position: fixed;
  top: 0;
  background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb) ;
  width: 1200px;
  height: 85px;
}


  .logo{
 
    padding-top: 20px;
   
    
  }

.body{
    background-color: black;
 
    
        margin: 0 auto;
    

}
.container{
  margin: 0;
  width: 1200px !important;
  padding-right: 15px;
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
    
}

.fade-in {
  opacity: 0; /* Initially set the opacity to 0 */
  animation: fade 1s ease-in-out forwards; /* Apply the fade animation */
}

@keyframes fade {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.banner-section{
   color: white;
   /* Adjust the height as needed */
  overflow: hidden;
  position: relative;
  height: 100vh; /* Adjust the height as needed */
    
}



.banner-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
 ;
}





.banner-h1{ 
     color: #fff;
    font-size: 25px;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
.banner-h2{
    color: #ffffff;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}
.banner-content{
    width: 100%;
        margin: 0 auto;
        margin: 250px 0px 120px 0px;
        opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}
.banner-content.slide-in {
  opacity: 1;
  transform: translateX(0);
}
button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: white;
  background: #ad5389;
  background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

button svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

button:hover svg {
  transform: translateX(5px) rotate(90deg);
}

button:hover span {
  transform: translateX(7px);
}
/*scroll button*/
.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;

}



section.feature-row {
  background: #000;
  padding: 70px 0px !important;
}


section.feature-row h1 {
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

section.feature-row h1:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #ffffff;
    width: 45px;
    bottom: -25px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}


.feature-inner-row img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.image-container:hover img {
  transform: scale(1.1);
}

section.feature-row {
    background: black;
    padding: 50px 0px;
    
}



.feature-inner-row p {
  font-size: 18px;
  color: #fff;
  line-height: 35px;
  font-family: 'Lora', serif;
  letter-spacing: 1px;

}
.feature-inner-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
    clear: both;
}



.feature-right-side {
    float: right;
    width: 48%;
}
.feature-left-side {
    width: 48%;
    float: left;
}


section.footer-section {
    background: #000;
    padding-bottom: 40px;

}
  
section.footer-section {
    color: #fff;
}
section.footer-section a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    
        
    
}
section.footer-section a:hover {
opacity: 0.5;
  
      
  
}
section.footer-section p{
    color: #ffffff;
    font-size: 12px;
    margin: 0;
}
p {
  margin: 0 0 0px;
}
#about{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/parallex.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center ;
  

}
.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
  /* Hover effect */
  section.footer-section a:hover {
    color: #e9e9e992; /* Change to the desired color on hover */
    text-decoration: underline; /* Change to the desired underline style on hover */
  }
section.footer-section h3 {
    margin-top: 0px;
    font-size: 38px;
  
    font-family: 'Poppins', sans-serif;
}
section.footer-section {
  color: #fff;
  background: #201f1e;
  padding-top: 45px;
}
   

section.footer-section .col-md-12, section.footer-section .col-md-6 {
    padding: 0px;
  
    
}

section.footer-section .col-md-12 .col-md-1 {
    padding: 0px;
   
}
span{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  z-index: 1;
  height: 50px;
  border-radius: 50%;
  background:  linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
  opacity: 0;
  border: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

#scrollToTopBtn::after {
  content: '\f077'; /* Font Awesome arrow icon code */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 32%;
  animation: updown 3s ease infinite;
  
}

@keyframes updown {
  0% {
    transform: translateY(-40%);
  }

  50% {
    transform: translateY(10%);
  }

  100% {
    transform: translateY(-40%);
  }
}



 
  
  .content {
    width: 77%;
    margin: 50px auto;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #6c767a;
    line-height: 1.9;
  }
  .copyright{
    text-align:left;
    margin-top: 20px;
    
   
  }
  #subraa-ltd {
    /* padding-left: 350px; */
    float: right;
    width: 50%;
    text-align: right;
}
.col-md-6.copyrights {
  float: left;
  width: 50%;
}
  .copy-subraa{
    color: white;
  }
  .copy:hover{
    opacity: 1;
  }
 
  section.footer-section.two {
    background: #1b1b1b;
    clear: both;
    overflow: hidden;
    text-align: center;
    padding: 15px 0px;
}
@media (min-width:768px) and (max-width:1024px) {
  .navbar {
    
    width: 100%;
   
}
.footer-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
 
}

@media (min-width: 1200px){
.container {
    width: 1200px !important;
  
}
}
@media (max-width: 1349px) and (min-width: 1100px){
  .navbar {
    
    width: 100%;
   
}
  .container{
    width: 100% !important;
  }
  #scrollToTopBtn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 50px;
    z-index: 1;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    border: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
  }
    
.footer-container {
  width: 100%;
  margin: 0 auto;
}
section.footer-section.two {
  background: #1b1b1b;
  clear: both;
  overflow: hidden;
  text-align: center;
  padding: 15px 0px;
}

}
@media (max-width: 1119px) and (min-width: 1025px){
  .navbar {
    
    width: 100%;
   
}
  .container{
    width: 100% !important;
  }
  
.footer-container {
  width: 100%;
  margin: 0 auto;
}
section.footer-section.two {
  background: #1b1b1b;
  clear: both;
  overflow: hidden;
  text-align: center;
  padding: 15px 20px;
}

}

@media only screen and (min-device-width:768px) and (max-device-width:1024px){
  .navbar {
    
    width: 100%;
   
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
  #scrollToTopBtn {
    position: fixed;
    bottom: 60px;
    right: 20px;
    width: 50px;
    z-index: 1;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    border: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
  }
  
  section.footer-section a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.navbar {
  padding: 1rem;
}
.navbar ul {
  width: 100%;
  padding: 0rem;
  background-color: #636e72;
  opacity: .9;
  height: 55vh;
  max-height: 0;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navbar ul.open{
  max-height: 100vh;
}
.navbar ul li {
  width: 80%;
}
.navbar ul li:nth-child(5) a:hover {
  background-color: rgba(255,255,255,0.15);
  color: #fff;
  font-size: 1.1rem;

}
.navbar a.navbar__logo{
  color: #0984e3;
  margin-top: -1rem;
}
.navbar ul li a {
  padding: 0rem;
  color: #fff;
  text-shadow:  0 4px 10px rgba(0,0,0, .7);
  text-transform: capitalize;
}
.navbar .navbar__toggler{
  display: block;
  position: absolute;
  height: 2.5rem;
  top: 1.2rem;
  right: 1.2rem;
  background-color: transparent;
  color: #fff;
  padding: 0 .3rem;
  cursor: pointer;
  outline: none;
}
.navbar .navbar__toggler span,
.navbar .navbar__toggler span::before,
.navbar .navbar__toggler span::after {

  display: block;
  content:'';
  background-color: #f7f8f8;
  height: .2rem;
  width: 1.7rem;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}
.navbar .navbar__toggler span::before{
  transform: translateY(-8px);
}
.navbar .navbar__toggler span::after {
  transform: translateY(5px);
}
.navbar .navbar__toggler.open__hamburger span {
  background-color: transparent;
}
.navbar .navbar__toggler.open-navbar__toggler span::before {
  transform: translateY(0px) rotate(45deg);
}
.navbar .navbar__toggler.open-navbar__toggler span::after {
  transform: translateY(-3px) rotate(-45deg);
}
}

@media (min-width:768px) and (max-width:1024px) {
  
  .container {
    margin: 0 auto;
    width: 100% !important;
}
 
.footer-container {
  width: 100%;
  margin: 0 auto;
}
section.footer-section.two {
  background: #1b1b1b;
  clear: both;
  overflow: hidden;
  text-align: center;
  padding: 15px 0px;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 50px;
  z-index: 1;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  border: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}


}
  @media (min-width: 500px) {
    
    .content {
      width: 43%;
    }
    #button {
      margin: 30px;
    }
  }
  .content h1 {
    margin-bottom: -10px;
    color: #03a9f4;
    line-height: 1.5;
  }
  .content h3 {
    font-style: italic;
    color: #96a2a7;
  }
  
  .col-md-6.copyrights {
    float: left;
    width: 50%;
}
.col-md-6.designed-by {
  margin-top: 0px;
  padding:0px;
  padding-top: 5;
}


@media screen and (max-width: 767px) {

  #svg {
    height: 400px; /* Adjust the height for mobile devices */
    width: 400px; /* Adjust the width for mobile devices */
   padding-right: 100px;
  }

  .navbar {
 
    width: 100%;
   
}
.banner-content {
  width: 100%;
  margin: 0 auto;
  margin: 123px 0px 120px 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #221e1eb8;
}
    
    .container {
        width: 100% !important;
        margin: 0 auto;
        padding: 0px;
    }
    .footer-container {
      width: 100%;
      margin: 0 auto;
  }
  
  .feature-inner-row p {
   
    text-align:start;
    text-align-last: left;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 65px;
  right: 20px;
  width: 50px;
  z-index: 1;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  border: none;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}
section.footer-section a {

  font-size: 14px;
}
section.footer-section .col-md-12, section.footer-section .col-md-6 {
    padding: 0px;
    margin-bottom: 0px;
    
}
.feature-inner-row {
  display: block;
  padding-top: 70px;
    clear: both;
}
section.feature-row {
  background: #000;
  padding: 0px;
  clear: both;
  overflow: hidden;
}

.feature-left-side, .feature-right-side {
    width: 100%;
    float: none;
}
section.footer-section h3 {
    margin-top: 0px;
    font-size: 38px;
   
}

.feature-left-side, .feature-right-side {
    width: 100%;
    float: none;
    margin-bottom: 70px;
}
section.feature-row h1 {
  
 
    margin-bottom: 90px;
}
section.footer-section {
    color: #fff;
}
section.footer-section p {
    color: #ffffff;
    font-size: 15px;
   
}
.copyright {
  text-align: center !important;
  margin-top: 20px;
}
#subraa-ltd{
  padding-left: 0px;
}
.col-md-6.copyrights {
  float: none;
  text-align: center;
  width: 100%;
}
.col-md-6.designed-by {
margin-top: 0px;
}
#subraa-ltd {
  
  float: none;
  width: 100%;
  text-align: center;
}
a.mail {
  padding-top: 10px;
}

}
   
  
@media screen and (max-width: 400px) {

  .logo{
    margin-top: 0px;
  }
  #scrollToTopBtn {
    position: fixed;
    bottom: 102px;
    right: 20px;
    width: 40px;
    z-index: 1;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    border: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
#svg {
  height: 300px; /* Adjust the height for mobile devices */
  width: 300px; /* Adjust the width for mobile devices */
  padding-right: 60px;
}

}
@media (max-width: 280px){
  #scrollToTopBtn {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 40px;
    z-index: 1;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
    border: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}
div#subraa-ltd {
  padding-top: 7px;
}
#svg {
  height: 250px; /* Adjust the height for mobile devices */
  width: 250px; /* Adjust the width for mobile devices */
  padding-right: 20px;
}

}